<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Successfully Registered</title>
    <style>
        a:link, a:visited {
          background-color: green;
          color: white;
          padding: 14px 25px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
        }

        a:hover, a:active {
          background-color: red;
        }
    </style>
</head>
<body>
{{msg}}<br><br>
<a href="/login">Login</a>
</body>
</html>