<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<form target="/input" method="post" align="center">

   <P> Student ID:</p>
    <input name="id"/>
  <br/><br/>

  <P> Student Name:</p>
    <input name="name"/>
  <br/><br/>

  <p>Age:</p>
    <input name="age"/>
  <br/><br/>

   <p>Phone No:</p>
    <input name="phone"/>
  <br/><br/>

   <p>Address:</p>
    <input name="address"/>
  <br/><br/>

  <button type="submit">Submit</button>
</form>
</body>
</html>